<h1>Track Liste - <%= @playlist.title%></h1>
<h2><%= @playlist.beschreibung%></h2>
<%= render partial: 'tracks/form' %>

<ul>
  <% @tracks.each do |track| %>
      <li><%= track.url %></li>
  <% end %>
</ul>